*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* navbar styles */
.navbar{
    padding: 10px 150px;
    box-shadow: 0 0 30px gray;
    background-color: white;
}

.logo a{
    text-decoration: none;
    font-family: "Pacifico", cursive;
    font-style: normal;
    color: rgb(24, 19, 19);
}

.nav-menu ul{
    margin: 0; 
    padding: 0; 
    text-align: end;
}
.nav-menu ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}
.nav-menu ul li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 0 10px;
    transition: 6ms all;
}
/* .nav-menu ul li a:hover{
    border-bottom: 2px solid skyblue;
} */

/* form styles */
.main{
    margin-top: 100px;
    padding: 50px 100px;
}
.form-section{
    box-shadow: 0 0 30px silver;
    margin-bottom: 100px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.form-box{
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
}
.form-box h2{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
}
.form-box p{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

.form-box input{
    outline: none;
    border: none;
    border-bottom: 2px solid silver;
    padding: 5px 10px;
    font-size: 17px;
    margin-bottom: 10px;
    transition: 0.2s ease-in;
}
.form-box input:focus{
    border-bottom: 2px solid rgb(36, 6, 146);
}
#typingbox{
    outline: none;
    border: none;
    border: 2px solid silver;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 0.2s ease-in;
}
#typingbox:focus{
    border: 2px solid rgb(36, 6, 146);
}

.submit-button{
    background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
    border: none;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    margin-top: 5px;
    border-radius: 7px;
    font-size: 22px;
    letter-spacing: 2px;
    transition: 0.7s ease-in-out;
}
.submit-button:hover{
    background: linear-gradient(to top left, #1325e8 -5%, #8f10b7 100%);
}


.address-box{
    display: flex;
    align-items: center;
    position: relative;
}
.address-subbox{
    background-color: rgb(32, 32, 34);
    color: white;
    padding: 40px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    z-index: 1;
    position: absolute;
    right: -190px;
}
.address-subbox h3{
    font-family: Lato, sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}
.address-subbox p{
    font-family: Lato, sans-serif;
    font-size: 16px;
    margin-left: 10px;
}


.layer{
    height: 524px;
    width: auto;
    background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
}


/* footer styles */
.bottom-logo img{
    background-color: white;
    width: 70px;
    margin-top: -36px;
    border: 3px solid gray;
    border-radius: 50%;
}
.footer{
    padding-bottom: 25px;
}
.footer h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 25px;
}
.footer p{
    font-size: 14px;
    color: gray;
    margin-top: -5px;
}
.social{
    display: inline-block;
}
.social a{
    text-decoration: none;
    color: gray;
    padding: 0;
}
.social i{
    font-size: 20px;
    padding: 5px;
}



@media only screen and (max-width: 600px) {

    .navbar{
        padding: 10px;
    }
    .logo h1{
        text-align: center;
    }
    .nav-menu ul{
        margin-top: 10px;
        text-align: center;
    }
    .nav-menu ul li{
        margin-left: 5px;
    }
    .nav-menu ul li a{
        padding: 5px;
        font-size: 20px;
    }

    .main{
        padding: 50px 12px;
    }
    .form-section{
        border-radius: 0;
        box-shadow: none;
    }
    .form-box{
        padding: 25px;
        box-shadow: 0 0 30px silver;
        border-radius: 7px;
    }

    .address-box{
        margin-top: 50px;
        padding: 0;
    }
    .address-subbox{
        position: static;
        right: 0;
        border-radius: 0;
        text-align: center;
    }
    .address-subbox h3{
        padding-bottom: 5px;
        border-bottom: 2px solid aliceblue;
    }

    .layer{
        display: none;
    }

    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .navbar{
        padding: 10px;
    }
    .nav-menu ul li a{
        padding: 5px;
        font-size: 22px;
    }


    .main{
        padding: 50px;
    }
    .form-section{
        border-radius: 0;
        box-shadow: none;
    }
    .form-box{
        padding: 25px;
        box-shadow: 0 0 30px silver;
        border-radius: 7px;
    }

    .address-box{
        margin-top: 50px;
        padding: 0;
        justify-content: center;
    }
    .address-subbox{
        position: static;
        right: 0;
        border-radius: 0;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    .address-subbox h3{
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 5px;
        border-bottom: 3px solid rgb(22, 24, 27);
    }
    .address-subbox p{
        font-size: 15px;
        font-weight: 600;
    }

    .layer{
        display: none;
    }
    
}